html {
	font-family: "Source Code Pro Semibold", "Fira Code Medium", Serif, serif;

	/* 使用颜色编码以确保在不同设备下的颜色一致性 (除了透明) */
	/* 使用变量以便于主题更改 */

	/* 变量命名要求
	 * --{变量类型}-{标签/类/id}-{用途...}
	 */

	--color-body-background: #ffffff;

	--color-header-main: #808080;
	--color-header-light-1: #90ee90;
	--color-header-light-2: #ffa500;

	--color-container-background: transparent;

	--color-character-background: #ffffff;
	--color-character-background-correct: #90ee90;
	--color-character-background-partial: #ffa500;
	--color-character-background-wrong: #808080;
	--color-character-border: #808080;
	--color-character-main: #000000;
	--color-character-correct: #000000;
	--color-character-partial: #000000;
	--color-character-wrong: #000000;
	--style-character-border: solid;
	--width-character-border: 1px;

	--color-hint-background: #0008;
	--color-hint-border: #0008;
	--color-hint-main: #ffffff;
	--color-hint-button: #ffffff;
	--style-hint-border: none;
	--width-hint-border: 0;
	--width-hint-width: 42vh;
	--width-hint-height: 20vh;
	--position-hint-top: 30%;
	--position-hint-left: 50%;
}

body {
	background-color: var(--color-body-background);
}

div.content {
	margin: auto;
	width: 80vw;
}

div.header {
	margin: auto;
	width: fit-content;
	font-size: 4em;
	text-align: center;
	color: var(--color-header-main);
}
div.header > span:nth-child(1) {
	color: var(--color-header-light-1);
}
div.header > span:nth-child(3) {
	color: var(--color-header-light-2);
}

div.bar {
	float: left;
	/* TODO: 菜单栏样式 */
}

div.container {
	background-color: var(--color-container-background);
	margin: auto;
	width: fit-content;
}

div.word {
	margin: auto;
	width: fit-content;
}

div.character {
	position: relative;
	display: inline-block;
	width: 6vh;
	height: 6vh;
	font-size: 5vh;
	text-align: center;
	margin: 1vh;
	color: var(--color-character-main);
	border: var(--width-character-border) var(--style-character-border)
		var(--color-character-border);
	background-color: var(--color-character-background);
}
div.character.correct {
	background-color: var(--color-character-background-correct);
	color: var(--color-character-correct);
}
div.character.partial {
	background-color: var(--color-character-background-partial);
	color: var(--color-character-partial);
}
div.character.wrong {
	background-color: var(--color-character-background-wrong);
	color: var(--color-character-wrong);
}

div.container.remain {
	margin-top: 2vh;
}

div.keyline {
	width: fix-content;
}
div.keyline > .key {
	position: relative;
	display: inline-block;
	width: 6vh;
	height: 6vh;
	margin: 1vh;
	font-size: 5vh;
	text-align: center;
	color: var(--color-character-main);
	border: var(--width-character-border) var(--style-character-border)
		var(--color-character-border);
	background-color: var(--color-character-background);
}
div.keyline > .spkey { 
	position: relative;
	display: inline-block;
	width: 6vh;
	height: 6vh;
	margin: 1vh;
	font-size: 5vh;
	text-align: center;
	color: var(--color-character-main);
	border: var(--width-character-border) var(--style-character-border)
		var(--color-character-border);
	background-color: var(--color-character-background);
}
div.keyline > .spkey.enter {
	position: relative;
	top: calc(-8vh - var(--width-character-border) * 2);
	left: calc(16vh + var(--width-character-border) * 4);
	width: calc(14vh + var(--width-character-border) * 2);
	height: 6vh;
}
div.keyline > .spkey.backspace {
	position: relative;
	top: calc(-8vh - var(--width-character-border) * 2);
	left: calc(56vh + var(--width-character-border) * 13);
	width: calc(30vh + var(--width-character-border) * 7);
	height: 6vh;
}
div.keyline > .key.correct {
	background-color: var(--color-character-background-correct);
	color: var(--color-character-correct);
}
div.keyline > .key.partial {
	background-color: var(--color-character-background-partial);
	color: var(--color-character-partial);
}
div.keyline > .key.wrong {
	background-color: var(--color-character-background-wrong);
	color: var(--color-character-wrong);
}
div.keyline > * {
	cursor: pointer;
}
div.keyline > *:hover {
	box-shadow: 0 0 8px #0003, 0 0 15px #0001;
}

div.hint {
	position: absolute;
	top: calc(var(--position-hint-top) - var(--width-hint-height) / 2);
	left: calc(var(--position-hint-left) - var(--width-hint-width) / 2);
	width: var(--width-hint-width);
	height: var(--width-hint-height);
	background-color: var(--color-hint-background);
	color: var(--color-hint-main);
	border: var(--width-hint-border) var(--style-hint-border)
		var(--color-hint-border);
	visibility: hidden;
}

div.hint > span.button {
	position: relative;
	top: 80%;
	line-height: 20%;
	margin: auto;
	width: fit-content;
	display: block;
}
div.hint > span > button {
	font-size: 100%;
	margin: 0.5vh;
	width: fit-content;
	border: none;
	background: none;
	color: var(--color-hint-button);
	text-align: center;
	text-decoration: underline;
}
div.hint > span.text {
	position: relative;
	top: 1.5vh;
	margin: auto;
	width: fit-content;
	text-align: center;
	display: block;
}
